@model UserProductPruchased

@{
    ViewData["Title"] = "Pruchases";
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Kareem Store</h1>
                <a href="/User/Logout" class="btn btn-danger">Logout</a>
            </div>


    <div class="container mt-5">
        <h1 class="text-center">@Model.UserName Pruchases</h1>
        <table class="table table-bordered table-hover mt-4">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Purchase Date</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProductsPruchased)
                {
                    <tr>
                        <img src="~/logo.png" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                        <td>@item.ProductName</td>
                        <td>@item.Price.ToString("C")</td>
                        <td>@item.Date.ToShortDateString()</td>
                        <td>@item.Quantity.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>